@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting
        <p>We are going to have an amazing party!</p>
        @Html.ActionLink("RSVP Now", "RSVPForm");
    </div>
</body>
</html>
